body {
  font-family: "Raleway", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin-bottom: 150px;
}

button:focus {
  outline: 0;
}

#heading {
  font-size: 3em;
  font-weight: normal;
  text-align: center;
  padding: 50px;
}

#tree-list {
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card {
  width: 500px;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 1px #bbb;
  border-radius: 3px;
  min-height: 100px;
  padding-: 15px;
  margin: 15px;
  background-color: white;

  -webkit-transition: height 4s; /* Safari */
  transition: height 4s;
}

.card h2 {
  padding-left: 50px;
  font-weight: normal;
}

.card p {
  padding-left: 50px;
  font-style: italic;
  font-size: 0.9em;
  font-weight: normal;
  padding-bottom: 25px;
}

.tree-img {
  width: 350px;
  height: auto;
  padding: 50px;
  margin: 0 auto;
}

.btn-toggle {
  margin-bottom: 25px;
  background-color: white;
  padding: 5px 10px;
  border: 1px solid #bbb;
  color: #666;
}

.btn-container {
  text-align: center;
  margin: auto;
}
